<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="template :: headerFragment"></div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>404</title>
</head>
<body>
<body>

<div th:insert="template :: menu"></div>
<br>
<h1>404 (Not Found)</h1>
<p>We could not find this page anywhere, sorry for any inconvenience. For any questions, contact us!</p>
</body>
</body>
</html>